/* Example CSS styles */
.header-text {
    /* Your styles */
  }
  
  .header-logo {
    /* Your styles */
  }
  
  .menu {
    /* Your styles */
  }
  
  .logo {
    /* Your styles */
  }
  
  .hide-logo {
    display: none;
  }
  
  .header {
    /* Your styles */
  }
  
  .images {
    /* Your styles */
  }
  
  .additional-image {
    /* Your styles */
  }
  
  .button-item {
    /* Your styles */
  }
  
  .button-home {
    /* Your styles */
  }
  
  .show-menu {
    /* Your styles */
  }
  
  .movel {
    /* Your styles */
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  